.nav{
    width: 98%;
    height: 10vh;
    margin: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-nav{
    width: 30%;
}
.right-nav{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list{
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item{
    font-style: normal;
    font-size: 18px;
    color: var(--bold-text-color);
}
.nav-item:hover{
    font-weight: 700;
    cursor: pointer;
}
.one{
font-weight: 700;
}
.mode_changer{
    background: none;
    border: none;
}
AnchorLink{
    text-decoration: none;
}